<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/app.css">
    <link rel="stylesheet" href="/public/dash.css">
    <title>Travel Dash</title>
</head>
<body>
    <h1>Hello, <%= user.name %>! </h1>
    <blockquote>- <%= user.reasonForTravel %> </blockquote>

    <section class="places">
        <div>
            <ul class="places__list">
                <% for (let place of user.places) { %>
                    <li class="place"> 
                        <div class="place__info">
                            <h2><%= place.place %> </h2>
                            <div class="place__info__details">
                                <p>Depart: <span><%= place.leaveDate %> </span></p>
                            </div>
                            <div class="place__info__details">
                                <p>Return: <span><%= place.returnDate %> </span></p>
                            </div>
                        </div>
                        <div class="place__img">
                            <img src="../public/images/patrick-baum-8uH-1yJk9hI-unsplash.jpg" alt="">
                        </div>
                    </li>
                <% } %> 
            </ul>
        </div>
    </section>
</body>
</html>