<%- include('partials/head') %> 

<body>
	<%- include('partials/nav') %> 
	<div class="header-intro">
		<h1> <%= user.name %> </h1>
		<blockquote> <i>"<%= user.reasonForTravel %>"</i> </blockquote>
	</div>

	<section class="places">
		<div>
			<ul class="places__list">
				<% for (let place of userPlaces) { %>
					<li class="place" style="background-image: url('<%= place.img %>');">
						<div class="place__info">
							<h2> <%= place.city %>, </h2>
							<h2> <%= place.country %> </h2>
							<div class="place__info__details">
								<p>Dep<span id="depart">art</span>: <span> <%= place.leaveDate %> </span></p>
							</div>
							<div class="place__info__details">
								<p>Ret<span id="return">urn</span>: <span>	<%= place.returnDate %> </span></p>
							</div>
						</div>
						<a class="go-to-icon go-to-place" href="/places/<%= place.id %>"><p><i class="arrow right"></i></p></a>
					</li>
					<% } %>
			</ul>
		</div>
		<a class="add-icon" href="/places/new">Add</a>
	</section>
</body>

</html>