<%- include('partials/head') %>

	<body>
		<%- include('partials/nav') %>
			<section id="landing"
				style="background-image: url('https://images.unsplash.com/photo-1593062096033-9a26b09da705?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8ZGVza3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60'); background-size: cover; background-position: center;">
				<div class="container">
					<h1>Welcome to the Travel Tracker</h1>
					<p>Journey on, wanderlust warriors.</p>
					<button>Get Started</button>
				</div>
			</section>
			<main>
				<%- include('components/quick-guide') %>
				<%- include('components/about') %>
				<section id="featured">
					<h2>Featured Destinations</h2>
					<ul id="featured-list">
						<% for( let featured of featuredPlaces) { %>
							<li class="card">
								<img src="https://via.placeholder.com/150x100" alt="image of destination">
								<h3><%- featured.city %> </h3>
								<p><%- featured.description %> </p>
								<button><a href="/places/<%- featured.id %>  ">Explore</a></button>
							</li>
						<% } %>
					</ul>
				</section>
			</main>


			<%- include('partials/footer') %>

		<script src="/js/intersectionObserver.js"></script>
	</body>

	</html>