<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

<body>
    <%- include('partials/nav') %>
    <div class="page-container">
        <h2>Places</h2>
        <ul>
            <% if (!userPlaces) { %>
                <h2>You have no destinations yet!</h2>
            <% } else { %>
                <ul>
                    <% for (let place of userPlaces) { %>
                        <li>
                            <a href="/places/index/<%= place.id %>"><%= place.country %></a>
                            <span> - <%= place.city %></span>
                        </li>
                    <% } %>
                </ul>
            <% } %>
        </ul>
    </div>

    <a href="/">Home</a>
    <a href="/places/new">Add a place</a>
</body>

</html>