<%- include('partials/head') %>

<body>
  <%- include('partials/nav') %>
  <h1> <%= place.country %> </h1>
  <h2> <%= place.id %> </h2>

  <a href="/places">Back</a>

  <form method="POST" action="/places/<%= place.id %>?_method=DELETE">
    <button>DELETE</button>
  </form>
</body>

</html>