<%- include('partials/head') %>

  <body>
    <%- include('partials/nav') %>
    <div class="page-container">
      <h2>
        <%= featuredPlace.country %>
      </h2>
      <h2>
        <%= featuredPlace.id %>
      </h2>

      <a href="/">Back</a>

      <form method="POST" action="/places<%= featuredPlace.id %>?_method=DELETE">
        <button>DELETE</button>
      </form>
    </div>
  </body>

  </html>